@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
.section-padding{
    padding: 6rem 2rem;
}

.section-margin{
    margin: 1rem 0;
}

:root{
    --header-font: 'Arvo', serif;
    --hero-font: 'Roboto', serif;
    --primary-color: #fb8500;
    --secondary-color: hsl(31.8,80%,80%);
    --tertiary-color: white;
    --quaternery-color: hsl(9,76%,63%) ;
    --light-grey: 	#D0D0D0;
    --dark-grey:	#484848;
    --font-color: white;
    --font-color-body: hsl(15,77%,88%);
    --dark-brown: hsl(4, 45%, 53%);
    --antique-white: rgb(250, 235, 215);

}

a {
    text-decoration: none;
    color: var(--secondary-color);
}



/* hsl(9,76%,63%) 
primary color hsl(152, 22%, 43%)
    --secondary-color: hsl(137, 10%, 79%);
    --tertiary-color: hsl(30,52%,84%);
*/